<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h2>Liste des lignes de commande</h2>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Liste</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header-pills" ></div>
        <div class="card-body">      
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Cocher</th>
                <th>Id</th>
                <th>Prix unitaire</th>
                <th>Quantité</th>
                <th>Unité</th>
                <th>Commande</th>
                <th>Article</th>
                <th *ngIf="!test">Cloner</th>
                <th *ngIf="!test">Update</th>
                <th *ngIf="!test">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lc of lignecommandes">
                <td><input type="checkbox" value="{{lc.id}}" (change)="recuper(lc.id)"/></td>
                <td>{{lc.id}}</td>
                <td>{{lc.pu}}</td>
                <td>{{lc.qte}}</td>
                <td>{{lc.unit}}</td>
                <td>{{lc.commande.numfacture}}</td>
                <td>{{lc.article.libelle}}</td>
                <td *ngIf="!test"><a class="btn btn-primary " (click)="cloner(lc)"><i class="fas fa-times"></i>Clone</a></td>
                <td *ngIf="!test"><a class="btn btn-secondary " (click)="update(lc)"><i class="fas fa-pencil-alt"></i>Edit</a></td>
                <td *ngIf="!test"><a class="btn btn-danger btn-sm" (click)="delete(lc)"><i class="fas fa-trash"></i>Delete</a></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Id</th>
                <th>Prix unitaire</th>
                <th>Quantité</th>
                <th>Unité</th>
                <th>Commande</th>
                <th>Article</th>
                <th *ngIf="!test">Cloner</th>
                <th *ngIf="!test">Update</th>
                <th *ngIf="!test">Delete</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <div *ngIf="test" class="bouton">
          <button class="btn btn-primary" (click)="deleteAll()"><i class="fas fa-trash">Deletes</i></button>
          <button class="btn btn-secondary fas fa-times" (click)="cloneAll()"><i class="fas fa-times">Clones</i></button>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

