<div class="container">
  <div class="col-lg-10 col-lg-offset-1">
      <div class="panel panel-primary" >
          <div class="panel-heading"><h2> Formulaire d'un groupe</h2></div>
          <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="add(f.value)">
      <div class="form-group">
        <label for="codegroupe" class="col-form-label">Code Groupe</label>
        <input type="text" class="form-control" name="codegroupe" id="codegroupe" ngModel required="required"/>
      </div>
      <div class="form-group">
        <label for="libellegroupe" class="col-form-label">Libelle du groupe</label>
        <input type="text" class="form-control" name="libellegroupe" id="libellegroupe" ngModel required="required"/>
      </div>

      <button type="submit" class="btn btn-dark">Valider</button>
    </form>
      </div>
    </div>
  </div>
  </div>


