<div class="col-lg-10 col-lg-offset-1 spacer60" >
    <div class="panel panel-primary" >
        <div class="panel-heading"><h2> Liste des articles</h2></div>
        <div class="panel-body">
      <div class="container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Id</th>
                <th>libelle</th>
                <th>Prixencours</th>
                <th>description</th>
                <th>Codearticle</th>
                <th>Quincallerie</th>
                <th>categories</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let art of articles">
                <td>{{art.id}}</td>
                <td>{{art.libelle}}</td>
                <td>{{art.prixencours}}</td>
                <td>{{art.description}}</td>
                <td>{{art.codearticle}}</td>
                <td>{{art.quincaillerie.Libellequic}}</td>
                <td>{{art.categorie.libelle}}</td>
                <td><a class="btn btn-secondary" (click)="update(art)">Edit</a></td>
                <td><a class="btn btn-danger" (click)="delete(art)">Remove</a></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  </div>
  