<div class="container">
  <div class="col-lg-10 col-lg-offset-1">
      <div class="panel panel-primary" >
          <div class="panel-heading"><h2> Formulaire d'un type d'opération</h2></div>
          <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="add(f.value)">
      <div class="form-group">
        <label for="id" class="col-form-label">ID</label>
        <input type="number" class="form-control" name="id" id="id" ngModel required="required"/>
      </div>

      <button type="submit" class="btn btn-dark">Valider</button>
    </form>
      </div>
    </div>
  </div>
  </div>


