<div class="container">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="panel panel-primary" >
            <div class="panel-heading"><h2>Modification de l'article</h2></div>
            <div class="panel-body">
        <form #f="ngForm" (ngSubmit)="edit(f.value)">
        <div class="form-group">
          <label for="libelle" class="col-form-label">Libelle</label>
          <input type="text" class="form-control" name="libelle" id="libelle" ngModel= "{{articleEdit.libelle}}"/>
        </div>
        <div class="form-group">
          <label for="prixencours" class="col-form-label">Prix en cours</label>
          <input type="number" class="form-control" name="prixencours" id="prixencours" ngModel = "{{articleEdit.prixencours}}" />
        </div>
        <div class="form-group">
          <label for="unite" class="col-form-label">Unité</label>
          <input type="text" class="form-control" name="unite" id="unite" ngModel= "{{articleEdit.unite}}"/>
        </div>
        <div class="form-group">
          <label for="codearticle" class="col-form-label">Code Article</label>
          <input type="text" class="form-control" name="codearticle" id="codearticle" ngModel= "{{articleEdit.codearticle}}"/>
        </div>
        <div class="form-group">
          <label for="description" class="col-form-label">Description</label>
          <input type="text" class="form-control" name="description" id="description" ngModel= "{{articleEdit.description}}"/>
        </div>
        <div class="form-group">
          <label for="categorie" class="col-form-label">Categorie</label>
          <select class="form-control" name="categorie" id="categorie" ngModel = "{{articleEdit.categorie.libelle}}">
            <option value="{{articleEdit.categorie.id}}" selected>{{articleEdit.categorie.libelle}}</option>
            <option *ngFor="let cat of categories" value="{{cat.categorie.id}}">{{ cat.categorie.libelle }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="quincaillerie" class="col-form-label">Quincaillerie</label>
          <select class="form-control" name="quincaillerie" id="quincaillerie" ngModel>
            <option value="{{articleEdit.quincaillerie.id}}" selected="selected">{{articleEdit.quincaillerie.Libellequic}}</option>
            <option *ngFor="let quinc of quincalleries" value="{{quinc.id}}"> {{quinc.libellequic}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-dark">Valider</button>
      </form>
        </div>
      </div>
    </div>
    </div>