<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table class="table table-hover"> 
          <thead>
            <tr>
              <th>Id</th>
              <th>Article</th>
              <th>Date de modification</th>
              <th>Prix</th>
              <th>Remarque</th>
              <th>Ancien prix</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let modp of modifprix">
              <td>{{modp.id}}</td>
              <td>{{modp.article.id}}</td>
              <td>{{modp.datemodif.date | date:'d/MM/yyyy hh:mm:ss'}}</td>
              <td>{{modp.prix}}</td>
              <td>{{modp.remarque}}</td>
              <td>{{modp.ancienprix}}</td>
              <td>
                <a class="btn btn-secondary" (click)="update(modp)">Edit</a>
                <a class="btn btn-danger" (click)="delete(modp)">Remove</a>
                <!-- <i class="material-icons">add</i> -->
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-primary" (click)="newModifprix()" >new modifprix</button>
    </div>
</body>
</html>